<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student_results.html</title>
</head>
<body>
    <form action="http://localhost:8080/student_results" method="post">
    <p>Name <input type ="text" name = "name" /></p>
    <p>Physics <input type="text" name="phy" /></p>
    <p>Chemistry <input type="text" name="che" /></p>
    <p>Maths <input type="text" name="mat" /></p>
    <p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>